#pane{
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, rgba(54,47,163,1) 5%, rgba(200,78,158,1) 16%, rgba(218,119,80,1) 52%, rgba(218,140,110,1) 77%, rgba(34,20,123,1) 98%);

}

#inputBox, #outputBox, #textArea{
    -fx-control-inner-background: #2a2828;
    -fx-prompt-text-fill: #b9b4b4;
    -fx-text-fill: #b9b4b4;
}

#enterButton, #infopoint, #addButton{
    -fx-background-color: #2a2828;
    -fx-text-fill: #b9b4b4;
}

#checkCode, #complexity, #testability, #translate, #addComment{
    -fx-background-color: rgba(255, 244, 244, 0.21);
    -fx-text-fill: #2a2828;
}